# Mac
.DS_Store

# Eclipse
.classpath
.project
.settings/
target/

# Intellij
.idea/
.idea_modules/
*.iml
*.iws
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
build/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
